<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Please allow access to camera for this demo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access to photos for this demo.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Please allow access to mic for this demo.</string>
	<key>NSContactsUsageDescription</key>
	<string>Please allow access to contacts for this demo.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Please allow access to calendar for this demo.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Please allow access to location for this demo.</string>
	<key>NSLocationUsageDescription</key>
	<string>Please allow access to location for this demo.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow access to location for this demo.</string>
</dict>
</plist>
